.ipynb_checkpoints/*
__pycache__/*
Crypto-Arithmetic-Solution.ipynb
Onkologie-CSP-Solution.ipynb
Wolf-Goat-Cabbage-STS-Solution.ipynb
Zebra-CSP-Solution.ipynb
Zebra-Solution.ipynb
Parrot-and-Penguin-Solution.ipynb
Train-Solution.ipynb
Sudoku-Z3-Solution.ipynb
Japanese-Z3-Solution.ipynb
