*.o
*~
*.aux
*.dvi
*.log
*.out
*.toc
*.class
*.el
*.synctex.gz
.DS_STORE
_region_.tex
auto/
.DS_Store
Script/_region_.prv
Script/logik.synctex.gz
Script/logik.prv#
Script/dhbw-logo-eps-converted-to.pdf
.dropbox
Aufgaben/Blatt-1/_region_.prv/*
Aufgaben/Blatt-2/_region_.prv/*
