*.o
*~
*.aux
*.bbl
*.blg
*.dvi
*.log
*.out
*.toc
*.class
*.el
*.synctex.gz
.DS_STORE
_region_.tex
auto/
.DS_Store
Literature/
Lecture-Notes/TAGS
Lecture-Notes/_region_.prv
Lecture-Notes/_minted-_region_/*
Lecture-Notes/_minted-logic/*
Lecture-Notes/logik.synctex.gz
Lecture-Notes-SetlX/TAGS
Lecture-Notes/logic.prv/
Lecture-Notes/logic.idx
Lecture-Notes/logic.ilg
Lecture-Notes/logic.ind
Lecture-Notes/logik.prv/*
Lecture-Notes/dhbw-logo-eps-converted-to.pdf
Lecture-Notes/Figures/graph0-eps-converted-to.pdf
Lecture-Notes/praedikatenlogik.ilg
Lecture-Notes/praedikatenlogik.ind
.dropbox
Solutions/
Python/Solutions/
Python/.ipynb_checkpoints/*
Python/Exercises/.ipynb_checkpoints/*
Python/__pycache__/*
Python/Untitled.ipynb
Python/Exercises/__pycache__/*
Python/Loesung-01.ipynb
Python/Loesung-03.ipynb
Python/Loesung-04.ipynb
Python/Loesung-05.ipynb
Python/Loesung-06.ipynb
Python/Loesung-07.ipynb
Python/Loesung-08.ipynb
Python/Loesung-09.ipynb
Python/Loesung-10.ipynb
Python/Loesung-11.ipynb
Python/Loesung-12.ipynb
Python/Loesung-13.ipynb
Aufgaben/Blatt-01/_region_.prv/*