Zweistein-Solution.ipynb
Prince-Tiger-Solution.ipynb
Zebra-DP-Solution.ipynb
Onkologie-Solution.ipynb	
Expr-Parser.ipynb
Missionaries.ipynb
Sudoku.ipynb
Wolf-Goat-Cabage-AL-Students.ipynb
Wolf-Goat-Cabbage-Solution.ipynb
Zebra-Deepseek.ipynb
